/* Advanced settings */
.advanced-content {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transform: translateY(-5px);
  transition: all 0.4s ease;
  padding: 0;
  border: 1px solid #ddd;
  border-radius: 6px;
  background-color: #fafafa;
}

/* When shown */
.advanced-content.show {
  max-height: 1000px;
  opacity: 1;
  transform: translateY(0);
  padding: 15px 10px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

#arrow {
  display: inline-block;
  margin-left: 6px;
  transition: transform 0.3s ease;
}

.advanced-content > select, .advanced-content > input {
  width: 100%;
  max-width: 220px;
} 